body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#map {
    height: 800px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    border-radius: 8px;
}